@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 text-decoration-underline">TheCarHub</h1>
    <h2>Welcome to the best car dealer spot.</h2>
    <img class="img-fluid mx-auto mt-3 mb-5" alt="Main banner with a luxury sport car" src="~/home_banner.jpg"/>
</div>