@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-decoration-underline">@ViewData["Title"]</h1>

    <section>
           <div>
             <h2>Privacy Policy</h2>
           <p>
             <strong>PRIVACY POLICY OF</strong>
           </p>
           <p>
             <strong>
               <span>THE CAR HUB</span>{" "}
             </strong>
           </p>
           <br />
           <p>
             <strong>
               ARTICLE 1: PREAMBLE
               <br />
             </strong>
           </p>
           <p>
             This privacy policy applies to the site: THE CAR HUB
           </p>
           <p>
             This Privacy Policy is intended to provide
             site users:
           </p>
           <ul>
             <li>
               The way in which their personal data is collected and processed
               personal. Must be considered as personal data all
               the data being likely to identify a user. It's about
               in particular the first and last name, age, postal address,
               the email address, the location of the user or his address
               IP&nbsp;;
             </li>
           </ul>
           <ul>
             <li>
               What are the rights of users regarding this data;
             </li>
           </ul>
           <ul>
             <li>
               Who is responsible for the processing of personal data
               collected and processed;
             </li>
           </ul>
           <ul>
             <li>To whom this data is transmitted;</li>
           </ul>
           <ul>
             <li>
               Eventually, the site's policy in terms of "cookie" files.
             </li>
           </ul>
           <p>
             <br />
             This privacy policy complements the legal notices and
             General Conditions of Use that users can
             consult at the following address:
           </p>
           <p>
             <span id="span_id_url_cgu">https://thecarhub.azurewebsites.net//</span>
           </p>
           <p>
             <span>
               <br />
             </span>
             <strong>
               ARTICLE 2: GENERAL PRINCIPLES REGARDING THE COLLECTION AND
               DATA PROCESSING
             </strong>
             <br />
           </p>
           <p>
             In accordance with the provisions of article 5 of the European Regulation
             2016/679, the collection and processing of data from users of the
             site adhere to the following principles:
           </p>
           <ul>
             <li>
               Lawfulness, loyalty and transparency: the data cannot be
               collected and processed only with the consent of the user
               data owner. Each time character data
               personal information will be collected, the user will be informed that his
               data is collected, and for what reasons its data is
               collected;
             </li>
           </ul>
           <ul>
             <li>
               Limited purposes: data collection and processing
               are carried out to meet one or more specific objectives
               in these Terms of Service;
             </li>
           </ul>
           <ul>
             <li>
               Minimization of data collection and processing: only
               the data necessary for the proper execution of the objectives pursued
               by the site are collected;
             </li>
           </ul>
           <ul>
             <li>
               Retention of reduced data over time: the data
               are kept for a limited period, of which the user is
               informed. When this information cannot be communicated,
               the user is informed of the criteria used to determine the
               shelf life;
             </li>
           </ul>
           <ul>
             <li>
               Integrity and confidentiality of data collected and processed:
               the data controller undertakes to guarantee
               the integrity and confidentiality of the data collected.
               <br />
             </li>
           </ul>
           <p>
             In order to be lawful, and this in accordance with the requirements of article 6 of the
             European regulation 2016/679, the collection and processing of personal data
             personal character can only intervene if they respect at least
             one of the conditions listed below:
           </p>
           <ul>
             <li>The user has expressly consented to the processing;</li>
           </ul>
           <ul>
             <li>
               Processing is necessary for the proper performance of a contract;
             </li>
           </ul>
           <ul>
             <li>The processing meets a legal obligation;</li>
           </ul>
           <ul>
             <li>
               The processing is explained by a need related to the safeguard of the
               vital interests of the data subject or of another person
               physics;
             </li>
           </ul>
           <ul>
           <li>
                      The processing can be explained by a necessity linked to the execution
                      of a mission of public interest or which comes under the exercise of
                      public authority;
                    </li>
                  </ul>
                  <ul>
                    <li>
                      The processing and collection of personal data is
                      necessary for the purposes of the legitimate and private interests pursued by
                      the controller or by a third party.
                    </li>
                  </ul>
                  <p>
                    <br />
                    <strong>
                      ARTICLE 3: PERSONAL DATA COLLECTED AND PROCESSED
                      IN THE CONTEXT OF BROWSING ON THE SITE
                      <br />
                    </strong>
                  </p>
                  <p>
                    <strong>A. </strong>DATA COLLECTED AND PROCESSED AND COLLECTION METHOD
                  </p>
                  <p>
                    Personal data collected on the site{" "}
                    <span id="span_id_name_of_website">Z-Team</span> are the
                    following:
                  </p>
                  <p>
                    <span id="span_id_list_data_collected">
                      E-mail address
                      <br />
                      Login credentials
                    </span>
                  </p>
                  <p>
                    These data are collected when the user performs one of the
                    following operations on the site:
                  </p>
                  <p>
                    <span id="span_id_operations_collectes_donnees">
                      When the user uses the contact form
                    </span>{" "}
                  </p>
                  <p>
                    The controller will keep in its computer systems
                    of the site and under reasonable security conditions all of the
                    data collected for a period of:{" "}
                    <span id="span_id_duree_conservation_donnees">3 years</span>.
                  </p>
                  <p>
                    The collection and processing of data meets the purposes
                    following:
                  </p>
                  <p>
                    <span>
                      <span id="span_id_finality_processing_data" className="in progress">
                        <span className="empty_variable">________</span>
                      </span>
                    </span>
                  </p>
                  <p>
                    The data processing carried out is based on the legal bases
                    following:
                  </p>
                  <p>
                    <span id="span_id_legal_bases">
                      <span className="empty_variable">________</span>
                    </span>
                  </p>
           
                  <p>
                    <strong>B.</strong> TRANSMISSION OF DATA TO THIRD PARTIES
                  </p>
           
                  <p>
                    The personal data collected by the site are only
                    transmitted to any third party, and are only processed by the site editor.{" "}
                    <br />
                  </p>
                  <p>
                    <strong>C. </strong>DATA HOSTING
                  </p>
                  <p>
                    The site <span id="span_id_name_of_internet_site">Z-Team</span> is
                    hosted by:{" "}
                    <span id="span_id_denomination_sociale_de_l_host">
                      <span className="empty_variable">________</span>
                    </span>
                    , whose head office is located at the following address:
                  </p>
                  <p>
                    <span id="span_id_siege_social_de_l_hebergeur">
                      <span className="empty_variable">________</span>
                    </span>
                  </p>
                  <p>
                    The host can be contacted at the following telephone number:{" "}
                    <span id="span_id_telephone_of_the_host">
                      <span className="empty_variable">________</span>
                    </span>
                    .{" "}
                  </p>
                  <p>
                    The data collected and processed by the site are exclusively
                    hosted and processed in France.{" "}
                  </p>
                  <p>
                    <br />
                    <strong>ARTICLE 4: DATA PROCESSOR </strong>
                  </p>
           
                  <p>
                    <strong>A. </strong>THE DATA PROCESSOR
                  </p>
                  <p>
                    The person responsible for processing personal data
                    is:{" "}
                    <span id="span_id_first_name_responsible_name">
                      <span className="empty_variable">________</span>
                    </span>
                    . He can be contacted in the following ways:
                  </p>
                  <p>
                    <span id="span_id_methode_contact_rtd">
                      <span className="empty_variable">________</span>
                    </span>
                  </p>
                  <p>
                    The data controller is responsible for determining the
                    purposes and means used for the processing of personal data
                    personal character. <br />
                  </p>
                  <p>
                    <strong>B. </strong>OBLIGATIONS OF THE DATA CONTROLLER
                  </p>
                  <p>
                    The controller undertakes to protect personal data
                    personal collected, not to transmit them to third parties without
                    the user has been informed and to respect the purposes for
                    which this data was collected.
                  </p>
           
                  <p>
                    In addition, the data controller undertakes to notify
                  the user in the event of rectification or su
                  pressing data,
                           unless this entails for him formalities, costs and procedures
                           disproportionate.
                         </p>
                         <p>
                           In the event that the integrity, confidentiality or security of
                           personal data of the user is compromised, the
                           controller undertakes to inform the user by any
                           average. <br />
                         </p>
                         <p>
                           <strong>ARTICLE 5: USER RIGHTS </strong>
                           <br />
                         </p>
                         <p>
                           In accordance with the regulations concerning the processing of data at
                           personal nature, the user has the rights listed below.
                         </p>
                         <p>
                           In order for the data controller to exercise his
                           request, the user is required to communicate to him: his first name and
                           name as well as his e-mail address, and if relevant, his number
                           account or personal or subscriber space.
                         </p>
                         <p>
                           The data controller is required to respond to
                           the user within a maximum of 30 (thirty) days.
                           <br />
                         </p>
                         <p>
                           <strong>A.</strong> PRESENTATION OF USER RIGHTS REGARDING
                           DATA COLLECTION AND PROCESSING
                         </p>
                         <p>
                           <em>
                             <br />
                             has. Right of access, rectification and right to erasure
                           </em>
                         </p>
                         <p>
                           The user can read, update, modify or
                           request the deletion of data concerning him, respecting the
                           procedure set out below:
                         </p>
                         <p>
                           <span id="span_id_procedure_acces_donnees">
                             <span className="empty_variable">________</span>
                           </span>{" "}
                         </p>
                         <p>
                           If he has one, the user has the right to request the deletion
                           from his personal space by following the following procedure:
                         </p>
                         <p>
                           <span id="span_id_procedure_deletion_account">
                             <span className="empty_variable">________</span>
                           </span>
                           <br />
                         </p>
                         <p>
                           <em>b. Right to data portability</em>
                         </p>
                         <p>
                           The user has the right to request the portability of his data
                           personal, held by the site, to another site, by complying
                           to the following procedure:
                         </p>
                         <p>
                           <span id="span_id_procedure_portabilite_donnees_personnelles">
                             <span className="empty_variable">________</span>
                           </span>
                         </p>
                         <p>
                           <br />
                           <em>
                             vs. Right to restriction and opposition of data processing
                           </em>
                         </p>
                         <p>
                           The user has the right to request the limitation or to oppose the
                           processing of its data by the site, without the site being able to
                           refuse, except to demonstrate the existence of legitimate and compelling reasons,
                           which may prevail over the interests and the rights and freedoms of
                           the user.
                         </p>
                         <p>
                           In order to request the limitation of the processing of their data or
                           formulate an opposition to the processing of his data, the user must
                           follow the following procedure:
                         </p>
                         <p>
                           <span id="span_id_procedure_limitation_treatment">
                             <span className="empty_variable">________</span>
                           </span>
                           <br />
                         </p>
                         <p>
                           <em>
                             d. Right not to be the subject of a decision based exclusively
                             on an automated process
                           </em>
                         </p>
                         <p>
                           In accordance with the provisions of Regulation 2016/679, the user has the
                           right not to be the subject of a decision based exclusively on a
                           automated process if the decision produces legal effects on
                           concerning, or significantly affects it in a similar way.
                         </p>
                         <p>
                           <br />
                           <em>e. Right to determine fate of data after death</em>
                         </p>
                         <p>
                           The user is reminded that he can arrange what should be the
                           become of his data collected and processed if he dies, in accordance
                           to law n°2016-1321 of October 7, 2016.
                         </p>
                         <p>
                           <br />
                           <em>f. Right to appeal to the competent supervisory authority</em>
                         </p>
                         <p>
                           In the event that the data controller decides not to
                           respond to the user's request, and that the user wishes
                           contest this decision, or, if he thinks that one of the
                           of the rights listed above, he is entitled to refer the matter to the CNIL
                           (National Commission for Computing and Liberties,
                           https://www.cnil.fr) or any competent judge.{" "}
                         </p>
                         <p>
                           <br />
                           <strong>
                           ARTICLE 6: USE OF "COOKIES" FILES
                           "
                                      <br />
                                    </strong>
                                  </p>
                                  <p>The site may use "cookie" techniques.</p>
                                  <p>
                                    A "cookie" is a small file (less than 4 KB), stored by
                                    the site on the user's hard drive, containing information
                                    relating to the user's browsing habits.
                                  </p>
                                  <p>
                                    These files enable it to process statistics and
                                    traffic information, to facilitate navigation and to improve the
                                    service for the convenience of the user.
                                  </p>
                                  <p>
                                    For the use of "cookie" files involving the saving and
                                    the analysis of personal data, the consent of
                                    the user is necessarily requested.
                                  </p>
                                  <p>
                                    This user consent is considered valid for a
                                    duration of 6 (six) months maximum. At the end of this period, the site
                                    will again ask for user permission to save
                                    "cookie" files on their hard drive.
                                  </p>
                                  <p>
                                    <br />
                                    <em>
                                      has. Opposition of the user to the use of "cookies" files
                                      by the website
                                    </em>
                                  </p>
                                  <p>
                                    Cookies that are not essential to the operation of the site are only placed on
                                    the user's terminal only after having obtained his consent.
                                    The user can withdraw his consent at any time, in the manner
                                    following:
                                  </p>
                                  <p>
                                    <span id="span_id_consent_cookies">
                                      <span className="empty_variable">________</span>
                                    </span>
                                  </p>
                                  <p>
                                    More generally, it is brought to the attention of
                                    the user that he can oppose the recording of these files
                                    "cookies" by configuring its browser software.
                                  </p>
                                  <p>
                                    For information, the user can find at the following addresses the
                                    steps to follow in order to configure your browser software to
                                    oppose the recording of "cookie" files:
                                  </p>
                                  <ul>
                                    <li>
                                      <strong>Chrome</strong>:
                                      https://support.google.com/accounts/answer/61416?hl=en
                                    </li>
                                  </ul>
                                  <ul>
                                    <li>
                                      <strong>Firefox</strong>:
                                      https://support.mozilla.org/fr/kb/enable-and-disable-cookies-website-preferences
                                    </li>
                                  </ul>
                                  <ul>
                                    <li>
                                      <strong>Safari</strong>:
                                      https://www.apple.com/legal/privacy/en-ww/
                                    </li>
                                  </ul>
                                  <ul>
                                    <li>
                                      <strong>Internet Explorer</strong>:
                                      https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies
                                    </li>
                                  </ul>
                                  <ul>
                                    <li>
                                      <strong>Opera</strong>:
                                      https://www.opera.com/help/tutorials/security/cookies/
                                    </li>
                                  </ul>
                                  <p>
                                    <br />
                                    In case the user decides to deactivate the files
                                    "cookies", he will be able to continue his navigation on the site. Nevertheless,
                                    any malfunction of the site caused by this manipulation does not
                                    could be considered as being due to the editor of the site.
                                  </p>
                                  <p>
                                    <br />
                                    <em>b. Description of the "cookie" files used by the site</em>
                                  </p>
                                  <p>
                                    The site editor draws the user's attention to the fact that
                                    the following cookies are used during its navigation:
                                  </p>
                                  <p>
                                    <span id="span_id_liste_cookies">
                                      <span className="empty_variable">________</span>
                                    </span>{" "}
                                  </p>
                                  <p>
                                    By browsing the site, the user is informed
                                    that third-party "cookie" files may be saved.
                                  </p>
                                  <p>In particular, the following third parties:</p>
                                  <p>
                                    <span id="span_id_tiers_cookies">
                                      <span className="empty_variable">________</span>
                                    </span>{" "}
                                  </p>
                                  <p>
                                    In addition, the site integrates social network buttons, allowing
                                    the user to share his activity on the site. Files
                                    "cookies" of these social networks are therefore likely to be
                                    stored on the user's computer when using these
                                    features.
                                  </p>
                                  <p>
                                    The user's attention is drawn to the fact that these sites
                                    have their own privacy policies and terms
                                    terms of use that may differ from the site. The editor of
                                    site invites users to consult the policies of
                                    confidentiality and the general conditions of use of these sites.
                                    <br />
                                  </p>
                                  <p>
                                    <strong>
                                    ARTICLE 7: MODIFICATION CONDITIONS
                                    TION OF THE POLICY OF
                                               PRIVACY
                                               <br />
                                             </strong>
                                           </p>
                                           <p>
                                             This Privacy Policy may be viewed at any
                                             moment at the address indicated below:
                                           </p>
                                           <p>
                                             <span id="span_id_address_privacy_policy">
                                               <span className="empty_variable">________</span>
                                             </span>
                                           </p>
                                           <p>
                                             The publisher of the site reserves the right to modify it in order to guarantee its
                                             compliance with applicable law.
                                           </p>
                                           <p>
                                             Consequently, the user is invited to come and consult regularly
                                             this privacy policy in order to stay informed of the latest
                                             changes that will be made to it.
                                           </p>
                                           <p>
                                             It is brought to the attention of the user that the last update
                                             day of this privacy policy has occurred
                                             the: ___ / ___ / __________.
                                           </p>
                                           <p>
                                             <strong>
                                               <br />
                                               SECTION 8:{" "}
                                               <span className="blur">
                                                 88852585588 288 2'55525585558 85 28 282555555 85 888258585582555
                                               </span>
                                               <br />
                                             </strong>
                                           </p>
                                   </div>
                                         </section>
