@model theCarHub.Data.Car

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-decoration-underline">Edit</h1>

<h4>@Model.Make @Model.Model @Model.Trim @Model.Year.Year</h4>
<hr />
<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group my-3">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" asp-format="{0:yyyy-MM-dd}"/>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Make" class="control-label">Brand</label>
                    <input asp-for="Make" class="form-control"/>
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control"/>
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Trim" class="control-label"></label>
                    <input asp-for="Trim" class="form-control"/>
                    <span asp-validation-for="Trim" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="PurchaseDate" class="control-label">Date of purchase</label>
                    <input asp-for="PurchaseDate" class="form-control" asp-format="{0:yyyy-MM-dd}"/>
                    <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                </div>
                    <div class="form-group my-3">
                        <label asp-for="PurchasePrice" class="control-label">Price of purchase</label>
                        <input asp-for="PurchasePrice" class="form-control"/>
                        <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="form-group my-3">
                    <label asp-for="Repairs" class="control-label">Repairs done</label>
                    <input asp-for="Repairs" class="form-control"/>
                    <span asp-validation-for="Repairs" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="RepairCost" class="control-label">Repair cost</label>
                    <input asp-for="RepairCost" class="form-control"/>
                    <span asp-validation-for="RepairCost" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="LotDate" class="control-label">Lot date</label>
                    <input asp-for="LotDate" class="form-control" asp-format="{0:yyyy-MM-dd}"/>
                    <span asp-validation-for="LotDate" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="SellingPrice" class="control-label">Sale price</label>
                    <input asp-for="SellingPrice" class="form-control"/>
                    <span asp-validation-for="SellingPrice" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Description" class="control-label">Car description</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="SaleDate" class="control-label">Sold on</label>
                    <input asp-for="SaleDate" class="form-control" asp-format="{0:yyyy-MM-dd}"/>
                    <span asp-validation-for="SaleDate" class="text-danger"></span>
                </div>
            </div>
                <div class="form-group my-3">
                    <input type="submit" value="Save" class="btn btn-success"/>
                    <button class="btn btn-primary text-light" onclick="JavaScript:window.history.back(1); return false;">Back</button>
                </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
